body {
  text-align: center;
  background-color: #91989a;
}

.btn {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 20%;
  margin: 30px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.red {
  background-color: #d95980;
}
.yellow {
  background-color: #f99b45;
}
.green {
  background-color: #37c0ea;
}
.purple {
  background-color: #6c84cd;
}

.flash {
  background-color: white;
}
.userflash {
  background-color: green;
}
